/********************ELEMENT STYLING********************/
body
{
  margin: 0px;
  text-align: center;
}

h1
{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

hr
{
  margin: 0px;
}


/********************CLASS STYLING********************/
.top-container
{
  background-color: #eeeeee;
  width:auto;

}

.top-elements
{
  padding: 20px;
  width: 50%;
  margin: auto;
  padding : 80px;
}

.logo
{
  width: 200px;
}

.desig
{
  margin: 3px auto;
  font-family: 'Montserrat', sans-serif;
}

/********************SECOND********************/
.second-elements
{
  text-align: left;
  padding: 20px;
  width: 50%;
}

.starwars
{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.parageneric
{

  margin: 5px 0 20px 140px;
}

.headinggeneric
{
  font-family: 'Play', sans-serif;
  margin: 25px 0 0;
}

/********************THIRD********************/

.third-container
{
  background-color: #000000;
  color: #ffffff;
}

.code
{
  width: 50%;
  text-align: left;
  padding: 20px;
}

.inside-code
{
  text-align: left;
  margin-left: 150px;
}

.skill
{
  width: 50%;
  text-align: left;
  padding: 20px;
}

.inside-skills
{
  text-align: left;
  margin-left: 150px;
}

.img-left-generic
{
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.iconsize
{

  width: 50px;
}

.skillsicon
{
  width: 70px;
  float: left;
}

/********************CONTACT********************/
.fourth-container{
  padding: 20px;
}
.contact
{
  width: 50%;
  text-align: left;
}

.gmail
{
  width: 100px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.gmail:hover
{
  border-radius: 50%;
}

.social
{
  width: 50%;
  text-align: left;
  margin-left: 20px;
}
.social-icon
{

  width: 50px;
}
.social-icon:hover
{
  border-radius: 50%;
}

.last-container
{
  padding:0;
  padding-bottom: 10px;
}
.footer
{
  font-size: medium;
  width: 50%;
  text-align: left;
}
.foot-tag
{
  color:black;
  text-decoration: none;
}
.foot-tag:hover
{
  color: blue;
}
/********************ID STYLING********************/
